@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro:wght@900&family=Work+Sans&display=swap');
html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;

  background: var(--background);

  scroll-behavior: smooth;

  --background: black;
  --background-hight: rgb(8, 8, 8);
  --white: white;
  --white-lower: rgb(190, 188, 188);
  --primary: #06d6d6;
  --primary-second: #810ca5;
  --primary-lower: #06d6d61c;
  --transparent: rgba(0, 0, 0, 0.336);

  --text-title: 150px;
  --text-second: 130px;
  --text-third: 40px;
  --text-fourth: 34.6px;
  --text-content: 18px;
  --text-content-2: 16px;

}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: var(--white-lower);
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.02em;
  font-family: 'Source Sans Pro', sans-serif;
}

svg {
  fill: var(--white);
}
svg:hover {
  fill: var(--primary);
}

ul {
  list-style: none;
}

.effect-text {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(172, 106, 172, 0) 92%,
    var(--primary) 94%,
    var(--primary) 96%,
    rgba(172, 106, 172, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 200ms linear;
}
.effect-text:hover {
  background-size: 100% 100%;
}

* {
  box-sizing: border-box;
  transition: all 0.24s;
}

